body {
    background-image: url("../images/background.png");
  }

.div-head {
  background-color: #F0F8FF;
}

.div-time {
  text-align: right;
}

.ul-dropdown {
  text-align: center;
}

.div-body {
  background-color: rgba(0, 0, 0, 0.3);
  height: 542px;
  padding: 10px;
}

.div-left {
  width: 420px;
}

.input-basic {
  border-color: #F00;
  border-width: 2px;
  border-style: dashed;
}

.span-picture {
  background-color: rgba(255, 0, 0, 0.7);
  cursor: pointer;
}

.div-right {
  width: 420px;
  height: 250px;
  float: right;
  margin-top: -250px;
}

.input-property {
  background-color: rgba(0, 0, 0, 0);
  width: 25px;
  text-align: center;
  border: none;
}

.div-legend {
    background-color: aqua;
  height: 484px;
  margin-top: 5px;
}

.img-legend {
  width: 120px;
  height: 170px;
  border-style: solid;
  border-color: #9E9E9E;
  border-width: 3px;
}

.img-legend:hover {
  cursor: pointer;
  border-width: 5px;
}

.div-foot {
  background-color: #F0F8FF;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.span-copyright {
  font-family: STKaiTi;
  font-weight: bolder;
  font-size: 18px;
  color: #2E4358;
}
