<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>仙剑奇侠传</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="div-login">
      <!-- 输入框组start -->
      <div class="input-group">
        <label for="input_username" class="input-group-addon">用户名：</label>
        <input type="text" id="input_username" class="form-control" placeholder="请输入您的用户名">
      </div>
      <!-- 输入框组end -->
      <br />
      <!-- 输入框组start -->
      <div class="input-group">
        <label for="input_password" class="input-group-addon">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
        <input type="password" id="input_password" class="form-control" placeholder="请输入您的密码">
      </div>
      <!-- 输入框组end -->
      <br />
      <div class="div-remember">
        <input type="checkbox" id="input_remember" class="input-remember" />
        <label for="input_remember" class="laber-remember">是否记住用户名和密码</label>
      </div>
      <br />
      <div class="div-button">
        <input type="button" id="input_login" class="btn btn-primary" value="登陆" />
        <input type="button" id="input_register" class="input-register btn btn-success" value="注册" />
      </div>
    </div>
  </body>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/index.js"></script>
</html>
